*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.appContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pintarCard{
    background-image: url(https://res.cloudinary.com/dd01p9lb9/image/upload/v1649303375/arus/41769330aba48177c6e1ff29be8e2df3_p5tmua.jpg);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    
}
.logo{
    width: 150px;
}
.portada_pricipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://res.cloudinary.com/dd01p9lb9/image/upload/v1649302920/arus/images_sln8yd.jpg);
}

.tituloPortada{
    font-size: 35px;
    color: rgb(103, 255, 20);
}
.miniPortada{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descripcion_portada{
    width: 100%;
   text-align: center;
    color: white;
    font-size: 25px;
    
   
}