.container_card{
    width: 220px;
    height: 310px;
    display: flex;
    justify-content: center;
    margin: 15px;
    
}
.card_productos{
    width: 200px;
    height: 310px;
    background-color: rgba(0, 0, 0, 0.475);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5px;
    
}
.contenido_productos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imagenCard{
    width: 100%;
    height: 200px;
    margin-top: 5px;
}
.descripcion{
    color: white;
    font-size:15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.precio{
    color: greenyellow;
    font-size: 25px;
}
